* {
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111E2B;
    color: #7FBB01;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #111E2B;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  #calculate-btn {
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #7FBB01;
    color: #000000;
    cursor:pointer;
  }
  
  .result-container {
    display: flex;
    justify-content: center;
  }
  
  #result-text {
    font-size: 24px;
  }
  
  img{
      margin-left: 45%;
      margin-top: 5%;
      width: 10%;
  }
  